.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1vw;
  line-height: 1.5;
}

.section.is-margin {
  margin-top: 15%;
}

.section.is-padding {
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}

.section.is-padding-footer-tc {
  padding-top: 7.5em;
  padding-bottom: 0;
}

.container-hero {
  max-width: 100%;
  padding: 7em 7.5em;
}

.container-hero.is-relative {
  position: relative;
}

.flexbox {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.flexbox.hero {
  width: 100%;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  align-items: center;
}

.flexbox.highlights {
  width: 100%;
  grid-column-gap: 15em;
  grid-row-gap: 15em;
  align-items: start;
}

.flexbox._3-cols {
  width: 100%;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
}

.flexbox.cta {
  width: 100%;
  grid-column-gap: 8em;
  grid-row-gap: 8em;
  background-color: #5236c0;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  padding: 6em 7.5em 12.5em;
  position: relative;
}

.flexbox.features {
  width: 100%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div-title {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.display-1 {
  font-family: Sora, sans-serif;
  font-size: 5em;
  font-weight: 700;
}

.display-1.black {
  color: #000;
}

.display-1.form {
  color: #f9f7ff;
  text-align: center;
  font-size: 6em;
}

.text-lg {
  font-family: Inter, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}

.text-lg.n-900 {
  color: #44377d;
}

.text-lg.white {
  color: #fff;
}

.text-lg.bold {
  font-weight: 700;
}

.text-lg.n-50 {
  color: #ecebf2;
}

.div-hero {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.div-button {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.image-appstore {
  width: 35%;
  max-width: none;
  flex: none;
}

.image-hero {
  width: 100%;
  max-width: none;
}

.image-hero-bg {
  z-index: -5;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container {
  max-width: 100%;
  padding: 4em 7.5em;
}

.container.is-feature {
  background-color: #0c081c;
  border-top-right-radius: 20em;
  border-bottom-left-radius: 20em;
  padding-top: 10em;
  padding-bottom: 10em;
}

.container.feature-padding-tc {
  background-color: #5236c0;
  border-top-right-radius: 400px;
  padding: 0;
}

.feature-mockup {
  width: 100%;
  max-width: none;
  position: static;
  top: 25%;
}

.div-highlight {
  width: 100%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.h2 {
  font-family: Sora, sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.h2.black {
  color: #000;
}

.h2.white {
  color: #fff;
}

.image-show {
  border-radius: .5em;
}

.label {
  width: 100%;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  background-color: #f9f7ff;
  border-radius: 1em;
  align-items: center;
  padding: 1.5em;
  display: flex;
}

.smooth-wrapper {
  width: 100%;
}

.div-cta {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.story {
  width: 100%;
  max-width: none;
  position: static;
  top: 25%;
}

.story.is-absolute {
  width: 25%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 10%;
}

.div-story {
  position: relative;
}

.h3 {
  color: #fff;
  font-family: Sora, sans-serif;
  font-size: 2em;
}

.h3.bold {
  font-weight: 700;
}

.feature-title {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-feature-title {
  width: 100%;
  grid-column-gap: 6em;
  grid-row-gap: 6em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.feature-container {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  align-items: flex-start;
  display: flex;
}

.feature-contents {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-xs {
  font-family: Inter, sans-serif;
  font-size: 1em;
}

.text-xs.n-50 {
  color: #ecebf2;
}

.feature-icon {
  width: 15%;
  max-width: none;
}

.div-features-tc {
  width: 100%;
  background-color: #0c081c;
  border-radius: 0 300px;
  padding: 10em 7.5em;
}

.div-form {
  grid-column-gap: 8em;
  grid-row-gap: 8em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12.5em 7.5em 8em;
  display: flex;
}

.flexbox-form {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  grid-template-rows: auto;
  grid-template-columns: 2fr 3fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.div-mockup-form-tc {
  width: 100%;
  height: 100%;
  background-image: url('../images/Gradient.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-mockup-form-tc.is-relative {
  position: relative;
}

.text-block {
  text-align: center;
  font-family: Sora, sans-serif;
}

.text-sm {
  color: #7c73a4;
  font-family: Inter, sans-serif;
  font-size: .875em;
  font-weight: 500;
}

.text-field {
  color: #c7c3d8;
  border: 0 solid #000;
  border-bottom: 1px solid #8f87b1;
  border-radius: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: .875em;
}

.div-text-filed-vertical {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.div-textfield-vertical {
  width: 100%;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.div-textfield-horizontal {
  width: 100%;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  display: flex;
}

.div-form-vertical {
  width: 100%;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-base {
  background-image: linear-gradient(to right, #2f5ff5, #725bd1);
  border-radius: .5em;
  padding: .875em 3em;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.div-form-right {
  width: 100%;
  height: 37em;
  padding: 6em;
}

.form-block, .form-2 {
  width: 100%;
}

.mockup {
  width: 64%;
  max-width: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 20%;
  right: 0%;
}

.div-mockup-form {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-mockup-form.is-relative {
  height: 100%;
  text-align: center;
  position: relative;
}

.div-footer {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  padding-left: 7.5em;
  padding-right: 7.5em;
  display: flex;
}

.line {
  width: 100%;
  border-bottom: 1px solid #725bd1;
}

.icons {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  width: 100%;
  max-width: none;
}

.div-links {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-ms {
  color: #f9f7ff;
  font-family: Inter, sans-serif;
  font-size: .875vw;
}

.text-ms.is-color {
  color: #9584dc;
}

.div-block {
  height: 1em;
  border-right: 1px solid #f9f7ff;
}

.div-bottom {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.success-message {
  background-color: #c7c3d8;
  border-radius: .5em;
}

.text-block-2 {
  color: #402b97;
  font-family: Inter, sans-serif;
}

.image-2 {
  width: 10%;
  max-width: none;
}

.footer-08 {
  background-color: #fff;
  padding: 132px 3%;
}

.container-2 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-horizontal {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block {
  width: 50%;
}

.footer-link-wrap-short {
  white-space: nowrap;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.footer-link-centre {
  color: #1e2833;
  margin-left: 14px;
  margin-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
  display: block;
}

.footer-link-centre:hover {
  color: #5e4dcd;
}

.text-rights-short {
  color: rgba(30, 40, 51, .5);
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.footer {
  background-color: #5236c1;
  padding: 92px 3%;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer-column {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 40px;
  display: flex;
}

.footer-column-right {
  flex-direction: column;
  align-items: flex-end;
  padding-right: 40px;
  display: flex;
}

.footer-arrow {
  width: 55px;
  height: 55px;
  background-color: #0c081c;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-grid-02 {
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
}

.paragraph {
  max-width: 360px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 15px;
}

.footer-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  justify-content: space-between;
  margin-top: 92px;
  display: flex;
}

.footer-title {
  color: #ffd2dd;
  margin-bottom: 22px;
  font-size: 17px;
}

.secondary-link-dark {
  color: #fff;
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.logo {
  margin-bottom: 32px;
}

.text-rights {
  color: rgba(255, 255, 255, .5);
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  display: block;
}

.footer-link-dark {
  color: #1e2833;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.footer-wrapper {
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .image-hero-bg {
    width: 100%;
    display: block;
    position: absolute;
  }

  .body {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 991px) {
  .footer-horizontal {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .logo-flat {
    margin-bottom: 32px;
  }

  .footer-link-wrap-short {
    margin-right: 0;
  }

  .text-rights-short {
    text-align: center;
  }

  .footer-column, .footer-column-right {
    padding-right: 20px;
  }

  .footer-bottom {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer-horizontal {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo-flat {
    margin-bottom: 40px;
  }

  .footer-link-wrap-short {
    margin-right: 0;
  }

  .text-rights-short {
    text-align: center;
  }

  .footer-column, .footer-column-right {
    padding-right: 0;
  }

  .footer-grid-02 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-bottom {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .flexbox.hero, .flexbox.highlights {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .div-title {
    align-items: center;
  }

  .display-1.black {
    text-align: center;
    font-size: 8.9em;
  }

  .text-lg.n-900 {
    text-align: left;
    font-size: 3em;
  }

  .div-hero {
    align-items: center;
  }

  .div-button {
    justify-content: center;
  }

  .div-highlight {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    align-items: center;
  }

  .h2.black {
    font-size: 6em;
  }

  .div-features-tc {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .flexbox-form {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .footer-link-wrap-short {
    flex-direction: column;
  }

  .footer-column, .footer-column-right {
    align-items: center;
  }

  .footer-grid-02 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    display: block;
  }

  .paragraph {
    text-align: center;
  }

  .footer-bottom {
    text-align: center;
    flex-direction: column;
  }

  .secondary-link-dark {
    margin-right: 32px;
  }

  .text-rights {
    text-align: center;
    margin-right: 0;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

#w-node-d76751fc-78e4-9298-3756-4fdaf61f473d-228821f9, #w-node-_0ea0e707-bc93-81c2-b778-42c29091e409-228821f9, #w-node-baaeadca-8858-39f0-97d9-003a06c59de7-228821f9, #w-node-c6cfec74-981b-3c6b-2e28-09af5dd0a7af-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6ec81580-162c-1abc-94aa-9eeeee7fa617-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: start;
}

#w-node-_8f569d52-8d67-99dd-b65e-ddd1381fbccf-228821f9, #w-node-_7d8d3e74-2682-1218-cc21-75fe7aef367c-228821f9, #w-node-_10b73edd-3c78-2208-72b5-054b8b3ada14-228821f9, #w-node-_61b96f6c-adf4-093d-f54a-5f1916b5cfbb-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3c6a24b5-12b6-be41-f932-e00acc2b2e25-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: start;
}

#w-node-_3c6a24b5-12b6-be41-f932-e00acc2b2e26-228821f9, #w-node-_3c6a24b5-12b6-be41-f932-e00acc2b2e24-228821f9, #w-node-ccad2529-18ec-d428-0d29-df2dd52fc172-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ccad2529-18ec-d428-0d29-df2dd52fc173-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: start;
}

#w-node-ccad2529-18ec-d428-0d29-df2dd52fc174-228821f9, #w-node-_88a4c084-d606-76ac-7c1c-a07dcd031a3f-228821f9, #w-node-_9e7079a7-c38a-0cd7-12ce-4238701f5160-228821f9, #w-node-_5a05d8d2-fb1d-efb6-a21c-54d5fbc51a5c-228821f9, #w-node-be518cd9-393f-327a-2de7-7db6b84cf7cc-228821f9, #w-node-_255e7039-3fbc-e135-afea-518a08a85171-228821f9, #w-node-_9f1a0724-fc50-86e6-5617-7186d84668ef-228821f9, #w-node-ad03708e-4db4-d744-418a-8b6c4863c568-228821f9, #w-node-ad03708e-4db4-d744-418a-8b6c4863c56f-228821f9, #w-node-ad03708e-4db4-d744-418a-8b6c4863c576-228821f9, #w-node-ad03708e-4db4-d744-418a-8b6c4863c57d-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5a51b302-c705-abf9-4b81-7a5925cf2bf2-228821f9 {
  align-self: end;
  justify-self: center;
}

#w-node-_4e552e51-9c34-88d9-5bc9-21d2b247cd0f-228821f9, #w-node-_236b57d3-1f6a-52ce-3519-951e9dca50d1-228821f9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-e085c40d-b4b4-5c59-f031-388beb048e93-228821f9 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e085c40d-b4b4-5c59-f031-388beb048e93-228821f9 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


